apiVersion: database.phosphorlee.xyz/v1alpha1
kind: Redis
metadata:
  labels:
    app.kubernetes.io/name: redis-operator
    app.kubernetes.io/managed-by: kustomize
  name: redis-test
spec:
  image: dockerpull.pw/library/redis:7.4
  password: "111"
  replicas: 2
  AOF:
    enabled: true
    fsync: everysec
  monitor:
    enabled: true
    image: dockerpull.pw/oliver006/redis_exporter:latest
  volume:
    storageclass: standard
    size: 10Gi
  sentinel:
    enabled: true
    replicas: 3
    image: dockerpull.pw/library/redis:7.4
