apiVersion: database.phosphorlee.xyz/v1alpha1
kind: Redis
metadata:
  labels:
    app.kubernetes.io/name: redis-operator
    app.kubernetes.io/managed-by: kustomize
  name: redis-test
  namespace: default
spec:
  image: dockerpull.cn/library/redis:7.4
  password: "111"
  resources:
    requests:
      cpu: 2
      memory: 2Gi
    limits:
      cpu: 2
      memory: 2Gi
  replicas: 3
  AOF:
    enabled: true
    fsync: everysec
  exporter:
    enabled: true
    image: dockerpull.cn/oliver006/redis_exporter:latest
  volume:
    size: 5Gi
  sentinel:
    enabled: true
    replicas: 3
    image: dockerpull.cn/library/redis:7.4
    resources:
      requests:
        cpu: 1
        memory: 1Gi
      limits:
        cpu: 1
        memory: 1Gi
